
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
.container-header-1 { 
    height: 50px; 
    background-color: #1F2937; 
    display: flex; 
    justify-content: space-around;
    gap: 2em; 
    align-items: center;
}

.header {
    color: #E5E7EB;
    font-size: 18px; 
}

.item-0 {
    flex-grow: 1;
    margin-left: 4em; 
    font-size: 24px; 
    color: #F9FAF8; 
}

.item-3 {
    margin-right: 2em; 
}

.container-body-1 { 
    height: 400px; 
    background-color: #1F2937; 
    display: flex; 
    justify-content: center;
    gap: 2em; 
    align-items: center;
}

.body-1 {
    width: 250px; 
}

.item-5 {
    font-size: 36px; 
    font-weight: bold; 
    color: #F9FAF8; 
    margin-left: 2em; 
}

.subtext {
    font-size: 18px;
    color: #E5E7EB; 
}

.item-6 {
    padding: 3em; 
    background-color: #E5E7EB;
    margin-right: 2em; 
    
}

button {
    padding-left: 1em;
    padding-right: 1em;
    background-color: #3882f6;  
    color: #F9FAF8; 
    border-radius: 5px; 
}


.container-body-2 { 
    height: 200px; 
    display: flex; 
    gap: 2em; 
    justify-content: center;
    align-items: flex-start; 
}

.placeholder {
    width: 100px; 
    height: 100px; 
}

.body-2 {
    box-sizing: border-box; 
    height: 100px; 
    width: 100px; 
    outline: #3882f6 solid;
    border-radius: 5px; 
    text-align:center; 
    padding: 2em;   
}

p {
    font-size: 9px;
    text-align: center; 
}

h2 { 
    text-align: center; 
    margin-bottom: 2em; 
}

.testimonial {
    height: 200px; 
    background-color:#E5E7EB;
    font-style: light italic; 
    font-size: 18px;
}
.quote {
    padding-top: 60px;
    padding-right: 60px; 
    padding-left: 60px;  
    font-weight: lighter; 
    color: #1f2900; 
}

.author {
    text-align: end; 
    margin-right: 60px; 
    margin-bottom: 60px;
}

.footer {
    height: 100px; 
    width: auto; 
    margin-top: 50px; 
    background-color: #3882f6;
    color:#E5E7EB;
    margin-right: auto; 
    margin-left: auto; 


}

.container-footer {
   height: 100px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.button-2 {
    border: #F9FAF8 solid thin; 
    border-radius: 5px; 
}